bin/
obj/
out/
*.exe
*.dll
*.pdb
*.app
*.so
*.dylib
*.user
*.suo
*.vscode/
*.vs/
.idea/
*.iml
*.sln.ide
*.sln.docstates
*.swp
*.swo
*.nupkg
*.snupkg
packages/
.nuget/
project.lock.json
project.assets.json
*.log
logs/
**/*.pid
*.tmp
.env
docker-compose.override.yml
*.mdf
*.ldf
*.sqlite
*.db
wwwroot/
appsettings.Development.json
appsettings.Local.json
Migrations/
secrets.json
certificates/
.idea/
.vscode/
*.csproj.user
.publish/
publish/
TSUAttendanceSystem/TSUAttendanceSystem/obj/Debug/net8.0/TSUAttendanceSystem.AssemblyInfo.cs
TSUAttendanceSystem/TSUAttendanceSystem/obj/Debug/net8.0/TSUAttendanceSystem.AssemblyInfoInputs.cache
TSUAttendanceSystem/TSUAttendanceSystem/obj/Debug/net8.0/TSUAttendanceSystem.assets.cache
TSUAttendanceSystem/TSUAttendanceSystem/obj/Debug/net8.0/TSUAttendanceSystem.csproj.AssemblyReference.cache
TSUAttendanceSystem/TSUAttendanceSystem/obj/Debug/net8.0/TSUAttendanceSystem.GeneratedMSBuildEditorConfig.editorconfig
TSUAttendanceSystem/TSUAttendanceSystem/obj/project.assets.json
TSUAttendanceSystem/TSUAttendanceSystem/obj/project.nuget.cache
TSUAttendanceSystem/TSUAttendanceSystem/obj/project.packagespec.json
TSUAttendanceSystem/TSUAttendanceSystem/obj/rider.project.model.nuget.info
TSUAttendanceSystem/TSUAttendanceSystem/obj/rider.project.restore.info
TSUAttendanceSystem/TSUAttendanceSystem/obj/TSUAttendanceSystem.csproj.nuget.dgspec.json
TSUAttendanceSystem/TSUAttendanceSystem/obj/TSUAttendanceSystem.csproj.nuget.g.props
TSUAttendanceSystem/TSUAttendanceSystem/obj/TSUAttendanceSystem.csproj.nuget.g.targets
