bin/
obj/
out/
*.exe
*.dll
*.pdb
*.app
*.so
*.dylib
*.user
*.suo
*.vscode/
*.vs/
.idea/
*.iml
*.sln.ide
*.sln.docstates
*.swp
*.swo
*.nupkg
*.snupkg
packages/
.nuget/
project.lock.json
project.assets.json
*.log
logs/
**/*.pid
*.tmp
.env
docker-compose.override.yml
*.mdf
*.ldf
*.sqlite
*.db
wwwroot/
appsettings.Development.json
appsettings.Local.json
Migrations/
secrets.json
certificates/
.idea/
.vscode/
*.csproj.user
.publish/
publish/
TSUAttendanceSystem/TSUAttendanceSystem/appsettings.json
TSUAttendanceSystem/TSUAttendanceSystem/bin/Debug/net8.0/appsettings.json
TSUAttendanceSystem/TSUAttendanceSystem/bin/Debug/net8.0/TSUAttendanceSystem.dll
TSUAttendanceSystem/TSUAttendanceSystem/bin/Debug/net8.0/TSUAttendanceSystem.pdb
TSUAttendanceSystem/TSUAttendanceSystem/obj/Debug/net8.0/ref/TSUAttendanceSystem.dll
TSUAttendanceSystem/TSUAttendanceSystem/obj/Debug/net8.0/refint/TSUAttendanceSystem.dll
TSUAttendanceSystem/TSUAttendanceSystem/obj/Debug/net8.0/TSUAttendanceSystem.AssemblyInfo.cs
TSUAttendanceSystem/TSUAttendanceSystem/obj/Debug/net8.0/TSUAttendanceSystem.AssemblyInfoInputs.cache
TSUAttendanceSystem/TSUAttendanceSystem/obj/Debug/net8.0/TSUAttendanceSystem.dll
TSUAttendanceSystem/TSUAttendanceSystem/obj/Debug/net8.0/TSUAttendanceSystem.pdb
TSUAttendanceSystem/TSUAttendanceSystem/obj/Debug/net8.0/TSUAttendanceSystem.sourcelink.json
